.Tabs {
  border-bottom: 1px solid #bcbcbc;
  margin-bottom: 10px;
}

.Tab {
  display: inline-block;
  margin: 0 10px;
  padding: 3px 20px;
  margin: 0;
  cursor: pointer;
}

.TabActive {
  color: #d7d700;
  background-color: #ffff0014;
  border-bottom: 1px solid #ffff00;
  margin-bottom: -1px;
}