.Tabs {
  border-bottom: 1px solid #bcbcbc;
  margin-bottom: 10px;
}

.Tab {
  display: inline-block;
  margin: 0 10px;
  padding: 3px 20px;
  margin: 0;
  cursor: pointer;
}

.TabActive {
  color: #FFD75C;
  background-color: rgba(255, 215, 92, 0.1);
  border-bottom: 1px solid #FFD75C;
  margin-bottom: -1px;
}