.Main {
  flex: 1;
  padding: 20px;
}

.MainHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.MainTitle {
  color: #041D32;
  font-size: 42px;
  margin: 0;
}

.ItemsLength {
  font-weight: bold;
}