.FilterButton {
  display: inline-block;
  color: #2081D2;
  cursor: pointer;
}
.FilterButton:first-child {
  margin-right: 15px;
}

.FilterTags {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.FilterTag {
  border-radius: 25px;
  border: 1px solid;
  padding: 8px 20px 8px 33px;
  position: relative;
  display: inline-block;
  margin-bottom: 15px;
  cursor: pointer;
}

.FilterTag:before {
  position: absolute;
  left: 14px;
  top: 0;
  bottom: 0;
  margin: auto;
  content: '';
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: #333;
}

.FilterTag:first-child {
  border-color: #3D9BE9;
}
.FilterTag:first-child:before {
  background-color: #3D9BE9;
}

.FilterTag:nth-child(2) {
  border-color: #BADA55;
}
.FilterTag:nth-child(2):before {
  background-color: #BADA55;
}

.FilterTag:nth-child(3) {
  border-color: #2CE1CB;
}
.FilterTag:nth-child(3):before {
  background-color: #2CE1CB;
}

.FilterTag:nth-child(4) {
  border-color: #FFD75C;
}
.FilterTag:nth-child(4):before {
  background-color: #FFD75C;
}

.FilterTag:nth-child(5) {
  border-color: #F25858;
}
.FilterTag:nth-child(5):before {
  background-color: #F25858;
}

.FilterTag:nth-child(6) {
  border-color: #FDB03E;
}
.FilterTag:nth-child(6):before {
  background-color: #FDB03E;
}

.FilterTag:nth-child(7) {
  border-color: #D783FF;
}
.FilterTag:nth-child(7):before {
  background-color: #D783FF;
}